{% extends 'base.html' %}

{% block content %}
<!---Account Options-->
<div style="float: right;">
    <a href="#" title="Account Options" class="btn btn-primary"><i class="fa fa-user-alt"></i></a>
    <span class="badge badge-info" style="position:absolute;margin-top:-5px;margin-left:30px;cursor:not-allowed;" title="Message Count" >0</span>
    <a href="#" title="Inbox" class="btn btn-success"style="cursor:alias;"><i class="fa fa-envelope"></i></a>
    <a href="#" title="More Options" class="btn btn-warning" style="color: white;"><i class="fa fa-ellipsis-v"></i></a>
</div><br><br>
<!--Card Holders-->
<div class="container" style="margin-top:2em;">
    <div style="display: flex;flex-direction: row;">
        <div style="width: 70%;">
            <div class="card">
                <div class="card-header">
                    <p>Places</p>
                </div>
                <div class="card-body">
                    <a href="#" title="Groups" class="btn btn-primary"><i class="fa fa-users"></i></a>
                    <a href="/classroom" title="Join Class" class="btn btn-primary"><i class="fa fa-chalkboard-teacher"></i></a>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        <div style="width: 30%;margin-left: 6em;">
            <div class="card">
                <div class="card-header">
                    <p>Activities</p>
                </div>
                <div class="card-body">
                    <a href="#" title="Games" class="btn btn-primary"><i class="fa fa-gamepad"></i></a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <div class="card card-body" style="margin-top:2em;" >
        <img src="{{url_for('video_feed')}}" alt="">
    </div>
</div>
{% endblock %}